/* Selector universal */

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Nadilla';
    src: url('../fonts/Nadilla.otf');
}

/* Selector de etiqueta */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: teal;
    font-size: 50px;
    font-family: 'Nadilla';
}

/* Sobreescribir una regla para aplicar la cascada de CSS */
h1 {
    color: rgb(0, 4, 128);
}

#arriba {
    color: yellow;
}

.red {
    color: #ff0000;
}

p {
    color: green;
}

p {
    color: black;
}

span {
    color: orange;
}

a {
    text-decoration: none;
}

/* Selector de clase  .nombredeclase */

.destacado {
    font-weight: bold;
    color: cornflowerblue;
}

/* Selector por ID */

#tabla {
    border: 1px solid blue;
}


/* Estilos del header */
header.cabecera {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url('../img/background-real-state.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecera.medium {
    height: 250px;
}

.cabecera h1 {
    position: absolute;
    top: 100px;
    left: 150px;
    text-shadow: 1px 2px 15px #848181;
}

.cabecera p {
    width: 100%;
    position: absolute;
    top: 200px;
    left: 320px;
    font-weight: 600;
    text-shadow: 1px 2px 15px #848181;
}

/* BOX MODEL */

.box {
    display: inline-block;
    background-color: rgb(203, 219, 248);
    height: 300px;
    width: 300px;
    /* box-sizing: border-box; */
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
    /* border: 20px solid rgb(28, 27, 27); */
    padding-left: 10px;
    padding: 10px 30px;
    overflow: scroll;
    box-sizing: border-box;
    /* margin: 10px 20px; */


}

/* Barra de navegacion */
nav.navbar {
    position: sticky;
    top: 0;
    background-color: #03CEA4;
    z-index: 100;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.navbar ul .nav-item {
    /* display: inline-block; */
    padding: 10px;
    margin: 5px;
    background-color: #2db323;
    list-style: none;
}

.navbar ul .nav-item:hover {
    background-color: #03CEA4;
    border: 1.5px solid #2db323;
}

.navbar ul li a {
    color: white;
}

.navbar img {
    width: 40px;
    height: 40px;
}

/* check-menu */
#checkbox-menu, label.menu {
    display: none;
}

label.menu {
    font-size: 25.8px;
    color: white;
    cursor: pointer;
}

/* Fin barra de navegacion */

.btn {
    border-radius: 8px;
    width: 200px;
    border: none;
    height: 25px;
    font-size: 1.0125rem;
    font-weight: 500;

}

.btn-success {
    background-color: #5ac652;
}

.btn-cancel {
    background-color: #ea5a39;

}

/* seccion content-info */

.servicios {
    display: flex;
    padding: 20px;
}

.servicios .content-info {
    max-width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-right: 2px solid #ccc;
    overflow: auto;
}

.content-info h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.right {
    padding: 10px;
}

/* Flexbox */
.contenedor-padre {
    background-color: #e3e3e3;
    height: 650px;
    width: 100%;
    padding: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px 20px;
}

.contenedor-hijo {
    font-weight: 600;
    height: 100px;
    width: 250px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px;

}

.contenedor-hijo.hijo-bueno {
    flex-grow: 2;
    background-color: #03CEA4;
}

/* Estilos pagina contacto */
.form-container {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container__titulo {
    font-size: 1.8rem;
}

.form-container__titulo--negrita {
    font-style: italic;
    text-transform: uppercase;
}

.form-contacto {
    width: 500px;
    max-width: 550px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1.2px solid #333;
    box-shadow: 5px 5px 10px rgba(117, 116, 116, 0.545);
}

.form-box {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-box label {
    width: 120px;
}

.form-box input, .form-box textarea {
    width: 70%;
    height: 25px;
    padding: 3px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
}

.form-box textarea {
    height: 150px;
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
}

/* PSEUDOCLASES */
.form-box input:focus, .form-box textarea:focus {
    border-radius: 6px;
}

.form-box input:not(:focus), .form-box textarea:not(:focus) {
    background-color: #ccc;
}

/* .form-box:nth-child(1){
    background-color: #ea5a39;
}
.form-box:nth-child(2){
    background-color: #42ea39;
}
.form-box:nth-child(2) label{
   font-size: 1.8rem;
} */
.form-box:nth-child(odd) {
    background-color: #2db323;
}

.form-box:nth-child(even) {
    background-color: #236bb3;
}

/* Footer */
.pie-pagina {
    padding: 20px;
}

.pie-pagina a {
    font-size: 1.3rem;
}

.pie-pagina a:link {
    text-transform: uppercase;
}

.pie-pagina a:hover {
    text-transform: lowercase;
    color: #333;
}


/* Media queries */

@media screen and (max-width:600px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        /* top: 50px; */
        background-color: #03CEA4;
    }

    label.menu {
        display: block;
        margin-left: 10px;
    }

    #checkbox-menu:checked~ul {
        display: block;
    }
}